/***Nav***/
.nav-wrapper { padding: 0 15px }

.nav-wrapper .user-pictogram { vertical-align: middle }

/***Event Form***/
.chips .input { color: black }

.chips-autocomplete input::-moz-placeholder,
.chips-autocomplete input:-moz-placeholder {
    opacity: 1;
    color: rgba(0,0,0,.5);
}

.textarea-wrapper label::after{ transform: translateY(36px) }

.category-select-wrapper .invalid input {
    border-bottom: 1px solid #F44336;
    box-shadow: 0 1px 0 0 #F44336;
}

/***Event Page***/
.parallax-container {
    width: 100%;
    height: 35vh;
}

.event-description { font: 1.3em 'Helvetica' }

.comment-card .hover-buttons { display: none }

.comment-card:hover .hover-buttons { display: block }

/***Map page***/
.map-page-container .mapWrapper {
    height: 500px;
    height: calc(100vh - 100px);
}

.map-single-container .mapWrapper {
    height: 300px;
    height: calc(80vh - 100px);
}

.leaflet-container {
    height: 100%;
    width: 100%;
}

.material-icons { padding: 0 0.2em 0 0.8em }


/***Home page***/
.img-container {
    padding: 30px 0;
    background-size: cover;
    background-image: url("/img/yellow-flower-background.jpg");
}

.tabs-container button {
    width: 100%;
    margin-top: 1rem;
}

.forgot-password-link { padding: 0 .75rem }

#email_recover { margin: 20px 0 }

.header-text h1,
.header-text p {
    display: inline-block;
    color: white;
    padding: 0.3em 0.2em 0.3em 0.2em;
    background: rgba(0,0,0,.5);
    margin: 0.2em 0;
}

.recover-tab .col { padding: 0 }

.recover-tab .col .btn {
    width: 100%;
    margin-top: 1rem;
}

.hot-event-description {
    padding-left: 10px;
    display: block;
    width: 20em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.hot-event-other-info { font-size: 12px }

.hot-event-after-name { margin-top: 0.2em }

.card .card-content {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 6px;
}

/***Float buttons***/
.btn-floating .material-icons { padding: 0 }

.mobile-fab-tip {
    position: fixed;
    right: 12px;
    bottom: 70px;
    padding:0px 0.5rem;
    text-align: right;
    background-color: #323232;
    border-radius: 2px;
    color: #FFF;
    width:auto;
}

/***All Inputs***/

label::after { width: 10rem }
