.event-description {
    font: 20px 'Helvetica';
}

.nav-wrapper {
    padding: 0 15px;
}

.nav-wrapper .input-field label{
    color: white;
}

.nav-wrapper .input-field input[type=email]:focus,
.nav-wrapper .input-field input[type=password]:focus {
    border-bottom: none;
    box-shadow: none;
}

.nav-wrapper .user-pictogram {
    vertical-align: middle;
}

.chips .input {
    color: black;
}

.chips-autocomplete input::-moz-placeholder,
.chips-autocomplete input:-moz-placeholder {
    opacity: 1;
    color: rgba(0,0,0,.5);
}

.textarea-wrapper label::after{
    transform: translateY(36px);
}

.category-select-wrapper .invalid input {
    border-bottom: 1px solid #F44336;
    box-shadow: 0 1px 0 0 #F44336;
}

.parallax-container {
    width: 100%;
    height: 35vh;
}

.map-page-container .mapWrapper {
    height: 500px;
    height: calc(100vh - 100px);
}

.map-single-container .mapWrapper {
    height: 300px;
    height: calc(80vh - 100px);
}

.leaflet-container {
    height: 100%;
    width: 100%;
}

.material-icons {
    padding: 0 0.2em 0 0.8em;
}

body, html {
    height: 100%;
    margin: 0;
}

#home_background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("1.jpg");
    background-size: cover;
    background-color: purple;
}

#login_button, #registration_button {
    width: 100%;
}

#recover_link {
  margin-left: 12px;
}
